{% extends 'base.html.twig' %}

{% block title %}Liste des entreprise{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>

    {% for entreprise in entreprises %}
        <b>{{ entreprise.raisonSociale }}</b> {{ ' (' ~ entreprise.cp ~ ' ' ~ entreprise.ville ~ ')'}}<br>
    {% endfor %}

    
{% endblock %}
