{% extends 'base.html.twig' %}

{% block title %}Liste des entreprise{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>

    {% for entreprise in entreprises %}
        <a href="{{ path('show_entreprise_controlleur', {'id': entreprise.id}) }}"> {{ entreprise }}</a><br>
    {% endfor %}

    
{% endblock %}
